.app__card {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    min-height: 30vh;
    width: 20vw;
    transition: all 300ms ease-in-out;

    // padding: 1.5rem;
    // border-radius: 1.5rem;
    // box-shadow: rgba(221, 27, 27, 0.6) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    .card-image {
        height: 100%;
        flex: 0.8;
        width: 100%;

        img {
            user-select: none;
            -webkit-user-select: none;
            // border-radius: 1rem;
            // box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            // margin-bottom: 1rem;
            width: 100%;
        }
    }

    .card-info {
        flex: 0.2;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 2rem 0;

        .info-title {
            font-size: 1.5rem;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .info-content {
            font-size: 1rem;
        }

        .info-icon {
            margin-top: 0;
            border: none;
            flex: 0.3;
        }
    }
}
