.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    // background-color: var(--primary-color);
    font-family: var(--font-base);
}

.hero-text {
    font-size: 4.6rem;
    font-weight: 800;
    text-align: left;
    color: var(--white-color);
    line-height: 1;

    @media screen and (min-width: 2000px) {
        font-size: 5.5rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 3rem;
    }
}

.head-text {
    font-size: 3.75rem;
    font-weight: 800;
    text-align: left;
    color: var(--black-color);
    text-transform: capitalize;
    margin-bottom: 2rem;

    span {
        color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
        font-size: 4.5rem;
        margin-bottom: 3rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    @media screen and (max-width: 1440px) and (min-width: 451px) {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
}

.p-text {
    font-size: 1.5rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 1440px) and (min-width: 451px) {
        font-size: 1rem;
    }
}

.s-text {
    font-size: 1.2rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
        font-size: 1.5rem;
    }
}

.bold-text {
    font-size: 1rem;
    font-weight: 800;
    color: var(--black-color);
    text-align: left;

    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 0.9rem;
    }
}

.info-icon {
    cursor: pointer;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 0;
    background-color: transparent;
    white-space: nowrap;
    margin-top: 2rem;
    padding: 1rem 0 0.5rem 0;

    font-size: 1rem;
    font-weight: 800;

    &::after {
        border-bottom: 1px solid var(--black-color);
    }
    span {
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
    }
    p {
        font-family: var(--font-base);

        margin-right: 0.5rem;
    }
}
